<div layout="row" layout-padding>
	<div class="stats-card md-whiteframe-2dp">
		<div flex="30" class="left"><i class="material-icons">chat</i></div>
		<div flex="70" class="right"><span ng-bind="Dashboard.userInfo.message_count"></span> <small>messages</small></div>
	</div>
	<div class="stats-card md-whiteframe-2dp">
		<div flex="30" class="left"><i class="material-icons">thumb_up</i></div>
		<div flex="70" class="right"><span ng-bind="Dashboard.userInfo.upvotes"></span> <small>up votes</small></div>
	</div>
	<div class="stats-card md-whiteframe-2dp">
		<div flex="30" class="left"><i class="material-icons">thumb_down</i></div>
		<div flex="70" class="right"><span ng-bind="Dashboard.userInfo.downvotes"></span> <small>down votes</small></div>
	</div>
	<div class="stats-card md-whiteframe-2dp">
		<div flex="30" class="left"><i class="material-icons">web</i></div>
		<div flex="70" class="right"><span ng-bind="Dashboard.userInfo.active_rooms.length + Dashboard.userInfo.recent_room.length"></span> <small>rooms visited</small></div>
	</div>
</div>
<div layout="row" layout-padding>
	<div layout="column" class="rooms-list active md-whiteframe-2dp">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2><span>Active Rooms</span></h2>
				<span flex></span>
				<md-button class="md-icon-button">
		          <md-icon><i class="material-icons md-36">more_vert</i></md-icon>
		        </md-button>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item ng-click="" ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
					<md-icon><i class="material-icons">chat_bubble_outline</i></md-icon>
					<p>#{{n}} Room Name</p>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-content>
	</div>

	<div layout="column" class="rooms-list my-rooms md-whiteframe-2dp">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2><span>My Rooms</span></h2>
				<span flex></span>
				<md-button class="md-icon-button">
		          <md-icon><i class="material-icons md-36">more_vert</i></md-icon>
		        </md-button>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item ng-click=""  ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
					<md-icon><i class="material-icons">chat_bubble_outline</i></md-icon>
					<p>Room Name</p>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-content>
	</div>
</div>
<div layout="row" layout-padding>
	<div layout="column" class="rooms-list recent md-whiteframe-2dp">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2><span>Recently Visited</span></h2>
				<span flex></span>
				<md-button class="md-icon-button">
		          <md-icon><i class="material-icons md-36">more_vert</i></md-icon>
		        </md-button>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item ng-click="" ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
					<md-icon><i class="material-icons">chat_bubble_outline</i></md-icon>
					<p>Room Name</p>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-content>
	</div>

	<div layout="column" class="rooms-list last md-whiteframe-2dp">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2><span>Something Rooms</span></h2>
				<span flex></span>
				<md-button class="md-icon-button">
		          <md-icon><i class="material-icons md-36">more_vert</i></md-icon>
		        </md-button>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item ng-click="" ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
					<md-icon><i class="material-icons">chat_bubble_outline</i></md-icon>
					<p>Room Name</p>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-content>
	</div>
</div>