<div layout="row" flex>
	<md-content flex="75" layout="column">
		<div class="trend-bar" flex="100" layout="row">
			<a class="trend" style="background-color: #FF4081;">Trending <i class="material-icons">trending_up</i></a>
			<a class="trend" style="background-color: #01579B;"><i class="material-icons">whatshot</i> Taylor Swift</a>
			<a class="trend" style="background-color: #0277BD;"><i class="material-icons">whatshot</i> Tony is Awesome</a>
			<a class="trend" style="background-color: #0288D1;"><i class="material-icons">whatshot</i> UCLA</a>
			<a class="trend" style="background-color: #039BE5;"><i class="material-icons">whatshot</i> Lakers</a>
			<a class="trend" style="background-color: #03a9F4;"><i class="material-icons">whatshot</i> Not USC</a>
		</div>
		<md-content class="dashboard" flex layout="column" layout-padding>
			<div layout="row" layout-padding>
				<div class="stats-card md-whiteframe-2dp">
					<div flex="50" class="left"><i class="material-icons">chat</i></div>
					<div flex="50" class="right">548 <small>messages</small></div>
				</div>
				<div class="stats-card md-whiteframe-2dp">
					<div flex="50" class="left"><i class="material-icons">thumb_up</i></div>
					<div flex="50" class="right">154 <small>up votes</small></div>
				</div>
				<div class="stats-card md-whiteframe-2dp">
					<div flex="50" class="left"><i class="material-icons">thumb_down</i></div>
					<div flex="50" class="right">12 <small>down votes</small></div>
				</div>
				<div class="stats-card md-whiteframe-2dp">
					<div flex="50" class="left"><i class="material-icons">web</i></div>
					<div flex="50" class="right">17 <small>rooms visited</small></div>
				</div>
			</div>
			<div layout="row" layout-padding>
				<div layout="column" class="rooms-list active md-whiteframe-2dp">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2><span>Active Rooms</span></h2>
							<span flex></span>
							<md-button class="md-icon-button">
					          <md-icon><i class="material-icons md-36">more_vert</i></md-icon>
					        </md-button>
						</div>
					</md-toolbar>
					<md-content>
						<md-list>
							<md-list-item ng-click="" ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
								<md-icon><i class="material-icons">chat_bubble_outline</i></md-icon>
								<p>#{{n}} Room Name</p>
							</md-list-item>
							<md-divider></md-divider>
						</md-list>
					</md-content>
				</div>

				<div layout="column" class="rooms-list my-rooms md-whiteframe-2dp">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2><span>My Rooms</span></h2>
							<span flex></span>
							<md-button class="md-icon-button">
					          <md-icon><i class="material-icons md-36">more_vert</i></md-icon>
					        </md-button>
						</div>
					</md-toolbar>
					<md-content>
						<md-list>
							<md-list-item ng-click=""  ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
								<md-icon><i class="material-icons">chat_bubble_outline</i></md-icon>
								<p>Room Name</p>
							</md-list-item>
							<md-divider></md-divider>
						</md-list>
					</md-content>
				</div>
			</div>
			<div layout="row" layout-padding>
				<div layout="column" class="rooms-list recent md-whiteframe-2dp">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2><span>Recently Visited</span></h2>
							<span flex></span>
							<md-button class="md-icon-button">
					          <md-icon><i class="material-icons md-36">more_vert</i></md-icon>
					        </md-button>
						</div>
					</md-toolbar>
					<md-content>
						<md-list>
							<md-list-item ng-click="" ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
								<md-icon><i class="material-icons">chat_bubble_outline</i></md-icon>
								<p>Room Name</p>
							</md-list-item>
							<md-divider></md-divider>
						</md-list>
					</md-content>
				</div>

				<div layout="column" class="rooms-list last md-whiteframe-2dp">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2><span>Something Rooms</span></h2>
							<span flex></span>
							<md-button class="md-icon-button">
					          <md-icon><i class="material-icons md-36">more_vert</i></md-icon>
					        </md-button>
						</div>
					</md-toolbar>
					<md-content>
						<md-list>
							<md-list-item ng-click="" ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
								<md-icon><i class="material-icons">chat_bubble_outline</i></md-icon>
								<p>Room Name</p>
							</md-list-item>
							<md-divider></md-divider>
						</md-list>
					</md-content>
				</div>
			</div>
		</md-content>
	</md-content>

	<!-- Profile Side -->
	<md-content class="profile md-whiteframe-2dp" flex="25" layout="column">
		<div flex="100" class="background" layout-padding layout="center center">
			<span flex class="username md-headline md-primary">Username</span>
		</div>
		<md-content>
			<md-list>
				<md-list-item class="md-2-line">
					<md-icon class="md-primary md-hue-2"><i class="material-icons md-24">email</i></md-icon>
					<div class="md-list-item-text">
						<h3 class="md-body-2">something@something.com</h3>
						<p class="md-caption">Email</p>
					</div>
				</md-list-item>

				<md-divider ></md-divider>

				<md-list-item class="md-2-line">
					<md-icon md-svg-src="/img/facebook.svg" class="md-primary md-hue-2"></md-icon>
					<div class="md-list-item-text">
						<h3 class="md-body-2">Facebook</h3>
						<p class="md-caption">Social Account</p>
					</div>
				</md-list-item>

				<md-divider ></md-divider>

				<md-list-item class="md-2-line">
					<md-icon md-svg-src="/img/google-plus.svg" class="md-primary md-hue-2"></md-icon>
					<div class="md-list-item-text">
						<h3 class="md-body-2">Google</h3>
						<p class="md-caption">Social Account</p>
					</div>
				</md-list-item>
				
				<md-divider ></md-divider>

				<md-list-item class="md-2-line">
					<md-icon md-svg-src="/img/twitter.svg" class="md-primary md-hue-2"></md-icon>
					<div class="md-list-item-text">
						<h3 class="md-body-2">Twitter</h3>
						<p class="md-caption">Social Account</p>
					</div>
				</md-list-item>
				
				<md-divider ></md-divider>

				<md-list-item class="md-2-line">
					<md-icon class="md-primary md-hue-2"><i class="material-icons md-24">access_time</i></md-icon>
					<div class="md-list-item-text">
						<h3 class="md-body-2">February 31st, 2056</h3>
						<p class="md-caption">Joined On</p>
					</div>
				</md-list-item>
			</md-list>
		</md-content>
	</md-content>
</div>