<h2 class="md-headline"><i class="material-icons md-24" style="line-height: 32px;">input</i> Login</h2>
<md-content layout-padding>
	<form name="UserAuth.loginForm" ng-submit="UserAuth.loginForm.$valid && UserAuth.userLogin(user)" novalidate>
		<md-input-container>
			<label>Email</label>
			<input type="email" ng-model="user.email" name="email" minlength="10" required>
<!-- 			<div ng-messages="UserAuth.loginForm.email.$error" ng-show="UserAuth.loginForm.$dirty">
				<div ng-message="required">Email is required</div>
				<div ng-message="md-minlength">Your email must be at least 10 characters long</div>
			</div> -->
		</md-input-container>
		<md-input-container>
			<label>Password</label>
			<input type="password" ng-model="user.password" name="password" md-minlength="10" md-maxlength="255" required>
<!-- 			<div ng-messages="UserAuth.loginForm.password.$error">
				<div ng-message="required">Password is required</div>
				<div ng-message-exp="['minlength', 'maxlength']">Your password must be between 10 and 255 characters</div>
			</div> -->
		</md-input-container>

		<md-button class="md-raised md-primary">Login</md-button>

		<md-divider style="margin: 1em 0"></md-divider>

		<p class="md-body-1">Need an account? <a href ui-sref="authenticate.register">Register</a></p>
	</form>
</md-content>