#top-nav {
	background-color: rgb(26,35,126);
	color: #ffffff;
}

#site-title {
	color: #ffffff;
	width: 140px;
	padding: 16px 32px;
}

#top-nav .room-tile {
  position: relative;
	text-decoration: none;
	color: white;
	padding: 16px 40px;
  cursor: pointer;
  z-index: 1;
}

#top-nav .room-tile:focus {
  outline: 0;
}

#top-nav .room-tile md-icon {
  color: #FFFFFF;
  opacity: 0.09;
  position: absolute;
  top: 0;
  bottom: 0;
}

#top-nav .room-tile md-icon[data-action="close"] {
  color: #FFFFFF;
  opacity: 0.3;
  position: absolute;
  right: 8px;
  cursor: pointer;
  height: 100%;
}

#top-nav .room-tile md-icon[data-action="close"]:hover {
  opacity: 1;
  z-index: 200;
}

#top-nav .room-tile md-icon[data-action="close"]:focus {
  outline: 0;
}

#top-nav .md-menu {
	padding: 0;
}

#top-nav #menu-drawer-icon {
	color: #FFFFFF;
}


/*** Animations for ngAnimate ***/

.animate-fade.ng-enter {
    transition:0.25s linear all;
    opacity: 0;
}

.animate-fade.ng-enter-stagger,
.animate-fade.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 0s;
}

.animate-fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.animate-fade.ng-leave {
  transition: 0.25s linear all;
  opacity: 1;
}

.animate-fade.ng-leave.ng-leave-active {
  opacity: 0;
}


.tile-0 {
  background: #1d288f; }

.tile-1 {
  background: #202c9c; }

.tile-2 {
  background: #222fa8; }

.tile-3 {
  background: #2533b5; }

.tile-4 {
  background: #2736c2; }

.tile-5 {
  background: #2a3acf; }

.tile-6 {
  background: #3242d5; }

.tile-7 {
  background: #3f4ed8; }

.tile-8 {
  background: #4c5adb; }

.tile-9 {
  background: #5865dd; }

.tile-10 {
  background: #6571e0; }

.tile-11 {
  background: #727de2; }

.tile-12 {
  background: #7f89e5; }

.tile-13 {
  background: #8b94e8; }

.tile-14 {
  background: #98a0ea; }

.tile-15 {
  background: #a5aced; }


.md-scroll-mask {
    position: initial
}

 