/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.no-gutter {
  padding-left: 0;
  padding-right: 0; }

/*==============================
=            Header            =
==============================*/
/*=====  End of Header  ======*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format("woff"), url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.tile-0 {
  background: #1d288f; }

.tile-1 {
  background: #202c9c; }

.tile-2 {
  background: #222fa8; }

.tile-3 {
  background: #2533b5; }

.tile-4 {
  background: #2736c2; }

.tile-5 {
  background: #2a3acf; }

.tile-6 {
  background: #3242d5; }

.tile-7 {
  background: #3f4ed8; }

.tile-8 {
  background: #4c5adb; }

.tile-9 {
  background: #5865dd; }

.tile-10 {
  background: #6571e0; }

.tile-11 {
  background: #727de2; }

.tile-12 {
  background: #7f89e5; }

.tile-13 {
  background: #8b94e8; }

.tile-14 {
  background: #98a0ea; }

.tile-15 {
  background: #a5aced; }

/*=================================
=            Chat Page            =
=================================*/
.chat h6 {
  margin: 0;
  padding: 4px;
  padding-left: 4px; }

.chat-box p {
  margin-bottom: 2px;
  margin-top: 2px; }

.chat-box ul {
  padding: 0; }

.chat-box ul li {
  list-style: none; }

.type-chat {
  width: 100%;
  background-color: #1A237E; }
  .type-chat label {
    color: white; }
  .type-chat md-input-container {
    padding-bottom: 0px;
    padding-left: 10px; }

.send-button {
  text-align: center;
  padding-top: 10px;
  background-color: #80d8ff; }

.navigation {
  background-color: #1A237E;
  padding: 4.8px; }

.navigation-icons {
  width: 100%; }
  .navigation-icons .md-button.md-icon-button {
    margin: 0 -5px; }

.side-bar h3 {
  margin: 0;
  text-align: center;
  color: white;
  background-color: #80d8ff;
  padding: 10px; }

/*=====  End of Chat Page  ======*/
/*=====================================================
=            Slider Animation for Side Bar            =
=====================================================*/
.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.slide.ng-enter {
  left: 100%; }

.slide.ng-enter-active {
  left: 0; }

.slide.ng-leave {
  left: 0; }

.slide.ng-leave-active {
  left: -100%; }

/*=====  End of Slider Animation for Side Bar  ======*/
/*========================================
=            Custom Scrollbar            =
========================================*/
::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 6px transparent;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #C5CAE9; }

/*=====  End of Custom Scrollbar  ======*/
/*===========================================
=            Dragabble Animation            =
===========================================*/
ul[dnd-list], ul[dnd-list] > li {
  position: relative; }

.dndDragging {
  transition: 0.2s; }

.chatbox ul {
  width: 100%;
  height: 100%; }
  .chatbox ul li {
    display: inline-block; }

.trash-bin {
  display: inline-block; }

.trashcan-holder {
  text-align: right;
  width: 25px !important;
  height: 20px !important; }

.left {
  text-align: left;
  width: 87%; }

.right {
  text-align: right;
  width: 10%; }

.left, .right {
  display: inline-block; }

.questions {
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 1;
  position: relative;
  transition: 0.2s ease-in-out; }

.questionOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  height: 100%;
  color: white;
  transition: 0.2s ease-in-out; }

.questions li {
  padding: 4px;
  font-size: 0.7em;
  list-style: none;
  cursor: pointer; }

.plus {
  width: 48px;
  height: 48px; }

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  transition: 0.2s ease-in-out; }

/*=====  End of Dragabble Animation  ======*/
/*=================================
=            Home Page            =
=================================*/
.slogan h1 {
  margin: 0;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9; }
.slogan h3 {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9; }

.slogan {
  background: url(../app/img/city.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*=====  End of Home Page  ======*/

/*# sourceMappingURL=styles.css.map */
