<md-content layout-padding flex>
	<p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
</md-content>
<div class="chat-bar">
	<md-input-container>
		<label>Enter message</label>
			<input>
	</md-input-container>
</div>
