<md-content layout-padding flex scroll-bottom="Chat.messages" class="chat-box">
	<ul>
		<li ng-repeat="message in Chat.messages"
		    dnd-draggable="message"
		    dnd-disable-if="message.resource_type == 'System'"
		    dnd-moved="Chat.addToQuestions(message)"
		    dnd-effect-allowed="move"
		    class="dragOverlay"
		    >
		    <span ng-class="Chat.showPosition(message.resource_type)">{{ message.username }} ({{message.time | date: 'medium'}}): </span><span ng-class="Chat.showBubble(message.resource_type)">{{ message.message }}<span>
		</li>
	</ul>
</md-content>
<div class="chat-bar">
	<md-input-container>
		<form name="Chat.messageForm" ng-submit="Chat.sendMessage(Chat.userMessage)">
			<label>Enter message</label>
			<input ng-model="Chat.userMessage" name="Chat.userMessage">
		</form>
	</md-input-container>
</div>