<md-content layout="row" flex="75" layout-wrap>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding chat-box">
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
            <p><strong>Tony: </strong> Why is tony so awesome?</p>
            <p><strong>Nathan: </strong> Yeah, he's definately awesome!</p>
            <p><strong>Andrew: </strong> Yup! Good Call!</p>
        </md-content>
        <div layout="row" class="type-chat">
			<div flex="90">
				<md-input-container>
					<label>Type to chat...</label>
					<input>
				</md-input-container>
			</div>
			<div flex="10" class="send-button">
				<md-button aria-label="photo" class="md-icon-button md-primary">
					<md-icon md-svg-src="bower_components/material-design-icons/content/svg/design/ic_send_24px.svg"></md-icon>
				</md-button>
			</div>
        </div>
    </div>
</md-content>
<md-content layout="row" flex="25" class="md-whiteframe-2dp">
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
      		<div ui-view class="side-bar slide"></div>
        </md-content>
        <div class="navigation">
	        <div class="navigation-icons" layout="row" layout-align="center center">
		        <a ui-sref="chat.users">
			        <md-button aria-label="photo" class="md-icon-button md-accent">
			            <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_search_24px.svg"></md-icon>
		        	</md-button>
		        </a>
		        <a ui-sref="chat.profile">
			        <md-button aria-label="label" class="md-icon-button md-accent">
			            <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_face_24px.svg"></md-icon>
			        </md-button>
		        </a>
		        <a ui-sref="chat.people">
			        <md-button aria-label="photo" class="md-icon-button md-accent">
			            <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_supervisor_account_24px.svg"></md-icon>
			        </md-button>
		        </a>
		        <a ui-sref="chat.visits">
			        <md-button aria-label="comment" class="md-icon-button md-accent">
			            <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_list_24px.svg"></md-icon>
			        </md-button>
		        </a>
		        <a ui-sref="chat.friends">
			        <md-button aria-label="comment" class="md-icon-button md-accent">
			            <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_account_box_24px.svg"></md-icon>
			        </md-button>
		        </a>
	    	</div>
        </div>
    </div>
</md-content>