<md-content flex="75" 
			layout="column" 
			class="sidebar-header" 
			layout-padding>{{ Chat._roomInfo.name }}
</md-content>

<md-content flex>
	<ul class="questions" dnd-list="Chat.chatQuestions" id="blurme">
	    <li ng-repeat="message in Chat.chatQuestions track by $index"
	        class="dndColor"
	        >
	        <div class="left"><strong>{{ message.username }}: </strong> {{message.message}} </div>
	        <div class="right">
				<md-button aria-label="photo" 
						   class="md-icon-button trashcan-holder" 
						   ng-click='Chat.removeQuestion(message, $index)'>
					<md-icon class="trashcan md-warn md-raised" 
							 md-svg-src="bower_components/material-design-icons/action/svg/design/ic_delete_24px.svg">
					</md-icon>
				</md-button>
	        </div>
	    </li>
	</ul>
	<div id="addOverlay" 
		 class="hidden" 
		 dnd-list="Chat.chatQuestions" 
		 layout="row" 
		 layout-align="center center">
		<md-icon class="md-warn md-raised plus" 
				 md-svg-src="bower_components/material-design-icons/content/svg/design/ic_add_48px.svg">
		</md-icon>
	</div>
</md-content>