<a flex="25">
    <md-button aria-label="label" class="md-icon-button md-accent">
        <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_face_24px.svg"></md-icon>
    </md-button>
</a>
<a ui-sref="chat.users-list" flex="25">
    <md-button aria-label="photo" class="md-icon-button md-accent">
        <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_supervisor_account_24px.svg"></md-icon>
    </md-button>
</a>
<a ui-sref="chat.resources-list" flex="25">
    <md-button aria-label="comment" class="md-icon-button md-accent">
        <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_list_24px.svg"></md-icon>
    </md-button>
</a>
<a flex="25">
    <md-button aria-label="comment" class="md-icon-button md-accent">
        <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_account_box_24px.svg"></md-icon>
    </md-button>
</a>